<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="row">
        <div style="padding-top: 30px" class="col">
            <div class="jumbotron">
                <h1 align="center" class="display-4">Hello, world!</h1>
            </div>
        </div>
    </div>

    <div class="row">
        {% for i in images_list %}
            <div class="col-4">
                <div class="card" style="width: 300px;">
                    <img style="width: 300px; height: 200px" src="{{ i.get('url') }} "
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.get('name') }} </h5>
                    </div>
                </div>
            </div>

            {% if loop.index/3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        </div>
</div>

</div>
</body>
</html>